In [1]:
#DataStructures Help us organise data in our machine so that it can be used more efficiently'

In [2]:
#1-Tuples: Sequence of immutable objects

In [3]:
tup =  (1, 'abc',2,'cde')
tup1 = 3, 'efg', True

tup2 = 'A' #tup2 = ('A',)
print(tup)

(1, 'abc', 2, 'cde')

In [4]:
print(tup[1])

abc

In [5]:
print(tup[0])

1

In [6]:
print(tup[0:2])

(1, 'abc')

In [7]:
try:
    tup[3] = 5
except Exception as e:
    print(e)

'tuple' object does not support item assignment

In [16]:
tup[0:3] + (5,)
print (tup)

(1, 'abc', 2, 'cde')

(1, 'abc', 2, 'cde')

In [14]:
print(tup2 * 4)

AAAA

In [15]:
print(5 in tup)

False

In [17]:
for x in ('a', 'b', 'c'):
    print(x)

a
b
c

In [19]:
def multiple_result():
    return(1,2,'a')
print(multiple_result())
print((1,2,3) == (1,2))

(1, 2, 'a')
False

In [20]:
#Tuple Functions

In [21]:
tup = (2,3,4)
print(len(tup))

3

In [23]:
print(max(tup))

4

In [24]:
print(min(tup))

2

In [1]:
#Lists

In [3]:
list1 = [1, 'abc', (2,3)]
print(list1 )

[1, 'abc', (2, 3)]

In [4]:
print(list1 [2])

(2, 3)

In [5]:
print(list1[2][0])

2

In [6]:
print(list1 + ['4'] )

[1, 'abc', (2, 3), '4']

In [7]:
print(list1 * 2)

[1, 'abc', (2, 3), 1, 'abc', (2, 3)]

In [8]:
print(2 in list1)

False

In [9]:
print(list1 == [1, 'abc', (2,3)])

True

In [10]:
print(list1[:2])

[1, 'abc']

In [11]:
list1.append(6)

In [12]:
print(list1)

[1, 'abc', (2, 3), 6]

In [13]:
list1[len(list1):]=[7]

In [14]:
print(list1)

[1, 'abc', (2, 3), 6, 7]

In [17]:
#List Functions

In [22]:
print(list(map(lambda x: x**2 + 3*x + 1, [1,2,3,4])))

[5, 11, 19, 29]

In [24]:
print(list(filter(lambda x: x<4, [1,2,3,4,5,4,3,2,1] )))

[1, 2, 3, 3, 2, 1]

In [27]:
import functools
print(functools.reduce(lambda x, y: x * y, [1,2,3,4]))

24

In [29]:
#Dictionaries
#Collection of Key, values

In [30]:
my_dictionary = {'Key': 'Value', ('K', 'E', 'Y'):5}

In [31]:
my_dictionary1 = {x: x + 1 for x in range(10)}
print(my_dictionary)
print(my_dictionary1)

{'Key': 'Value', ('K', 'E', 'Y'): 5}
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [32]:
print(my_dictionary['Key'])

Value

In [33]:
try:
    print(my_dictionary[1])
except Exception as e:
    print(e)

1

In [36]:
print(my_dictionary.keys())
print(my_dictionary.values())

dict_keys(['Key', ('K', 'E', 'Y')])
dict_values(['Value', 5])

In [37]:
my_dictionary[1] = 2
print(my_dictionary)

{'Key': 'Value', ('K', 'E', 'Y'): 5, 1: 2}

In [38]:
my_dictionary[1] = 3
print(my_dictionary)

{'Key': 'Value', ('K', 'E', 'Y'): 5, 1: 3}

In [39]:
del  my_dictionary[1]

In [40]:
print(my_dictionary)

{'Key': 'Value', ('K', 'E', 'Y'): 5}

In [41]:
my_dictionary.clear()

In [42]:
print(my_dictionary)

{}

In [43]:
#Shallow Copies with Dictionaries
#Shallow copy = two copies of a data structure share the same set of elements

my_dictionary = {'Item': 'Shirt', 'Size': 'Medium', 'Practice': 50}

In [44]:
print(my_dictionary)

{'Item': 'Shirt', 'Size': 'Medium', 'Practice': 50}

In [45]:
my_dictionary1 = my_dictionary

In [46]:
my_dictionary1

{'Item': 'Shirt', 'Practice': 50, 'Size': 'Medium'}

In [47]:
my_dictionary['Size'] = 'Small'

In [48]:
print(my_dictionary1)

{'Item': 'Shirt', 'Size': 'Small', 'Practice': 50}

In [56]:
my_set = set(['one', 'two', 'three','one'])
print(my_set)

{'three', 'one', 'two'}

In [57]:
my_set1 = set(['two', 'three', 'four'])

In [59]:
print(my_set1 | my_set)

{'four', 'one', 'three', 'two'}

In [60]:
print(my_set1 ^ my_set)

{'four', 'one'}

In [61]:
print(my_set1 - my_set)

{'four'}

In [70]:
a = (my_set1 - my_set)

In [73]:
print(a <= my_set1)

True

In [74]:
print(a >= my_set1)

False

In [75]:
my_set.add('five')

In [76]:
print(my_set)

{'five', 'three', 'one', 'two'}

In [77]:
#Some Useful functions with Sets
my_set = set(['one', 'two', 'three'])
my_set1 = set(['one', 'two', 'three', 'four'])

print(set.intersection(my_set, my_set1))

{'three', 'one', 'two'}

In [78]:
print(set.union(my_set, my_set1))

{'four', 'one', 'three', 'two'}

In [80]:
print(set.difference(my_set, my_set1))

set()

In [81]:
print(set())

set()